.code-bar {
  position: relative;
  height: 100vh;
  background-color: var(--primary-color);

  &__tabs {
    border-bottom: 5px solid var(--secondary-color);
  }

  .tabs {
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .editor {
    height: calc(100% - 110px);
  }
}